# Logs
logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Production & Build outputs
dist/
dist-ssr/
build/
out/
*.local

# Environment variables & secrets
.env
.env.*
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
!.env.example
!**/.env.example

# Private Keys & Certificates
*.pem
*.key
*.cert
*.crt
*.pfx
*.p12
*.pkcs12
id_rsa*

# Database & local data storage
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal
*.db-journal
postgres-data/
docker-data/
*.dump

# Editor & OS directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing & coverage
coverage/
.nyc_output/
scratch/


